In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('tweets_dataframe.csv', sep="\t")

In [5]:
df.head()

,id,text,user.favourites_count,user.id,lang,user.followers_count,user.verified,truncated
0,593891099548094465,VIDEO: Sturgeon on post-election deals http://...,0.0,557422508,en,184,False,False
1,593891101313896449,LOLZ to Trickle Down Wealth. It's never trickl...,2677.0,2471552766,en,966,False,False
2,593891101766918144,SNP leader faces audience questions http://t.c...,0.0,557422508,en,184,False,False
3,593891102480007169,If Miliband is refusing to do any deal with th...,492.0,390331913,en,174,False,False
4,593891103184551936,Cameron wins last TV contest of election campa...,4.0,2724103423,en,102,False,False

In [6]:
rows=len(df.index)
print rows

6612

In [7]:
df.shape

(6612, 8)

In [8]:
import re as reg

In [9]:
#remove @.*:
# regex @\w+[" ",:] " " for tweets with only @... 
for i in xrange(rows):
    tweet=str(df.loc[i]['text'])
    remove=reg.compile(r'@\w+[" ",:]')
    remove_words=remove.findall(tweet)
    new_tweet=""
    for word in tweet.split():
        if word not in remove_words:
            new_tweet+=word+' '
    df.replace(df.loc[i]['text'], new_tweet, inplace=True)

In [10]:
df.head()

,id,text,user.favourites_count,user.id,lang,user.followers_count,user.verified,truncated
0,593891099548094465,VIDEO: Sturgeon on post-election deals http://...,0,557422508,en,184,False,False
1,593891101313896449,LOLZ to Trickle Down Wealth. It's never trickl...,2677,2471552766,en,966,False,False
2,593891101766918144,SNP leader faces audience questions http://t.c...,0,557422508,en,184,False,False
3,593891102480007169,If Miliband is refusing to do any deal with th...,492,390331913,en,174,False,False
4,593891103184551936,Cameron wins last TV contest of election campa...,4,2724103423,en,102,False,False

In [12]:
# make all tweets into lower case
for i in xrange(rows):
    tweet=str(df.loc[i]['text']).lower()
    df.replace(df.loc[i]['text'], tweet, inplace=True)

In [13]:
df.head()

,id,text,user.favourites_count,user.id,lang,user.followers_count,user.verified,truncated
0,593891099548094465,video: sturgeon on post-election deals http://...,0,557422508,en,184,False,False
1,593891101313896449,lolz to trickle down wealth. it's never trickl...,2677,2471552766,en,966,False,False
2,593891101766918144,snp leader faces audience questions http://t.c...,0,557422508,en,184,False,False
3,593891102480007169,if miliband is refusing to do any deal with th...,492,390331913,en,174,False,False
4,593891103184551936,cameron wins last tv contest of election campa...,4,2724103423,en,102,False,False

In [19]:
# remove urls
# regex: http\S+
for i in xrange(rows):
    tweet=str(df.loc[i]['text'])
    remove=reg.compile(r'http\S+')
    remove_words=remove.findall(tweet)
    new_tweet=""
    for word in tweet.split():
        if word not in remove_words:
            new_tweet+=word+' '
    df.replace(df.loc[i]['text'], new_tweet, inplace=True)

In [20]:
df.head()

,id,text,user.favourites_count,user.id,lang,user.followers_count,user.verified,truncated
0,593891099548094465,video: sturgeon on post-election deals,0,557422508,en,184,False,False
1,593891101313896449,lolz to trickle down wealth. it's never trickl...,2677,2471552766,en,966,False,False
2,593891101766918144,snp leader faces audience questions,0,557422508,en,184,False,False
3,593891102480007169,if miliband is refusing to do any deal with th...,492,390331913,en,174,False,False
4,593891103184551936,cameron wins last tv contest of election campa...,4,2724103423,en,102,False,False

In [21]:
df.to_csv('tweets_dataframe.csv', sep="\t")